:root {

    --clr-gray:#333;
    --clr-lightGray:#A9A9A9;
    --clr-black:#000;
    --clr-blue:#2F80ED;
 
 }
 
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    padding: 2rem;
    
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    min-height: 100vh;
}

input, button {
    border: none;
    outline: none;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--clr-lightGray);
    font-size: 1.4rem;
    flex-grow: 1;
}